body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
i{
    cursor: pointer;
}
/* ! header */
.Div-underhome {
    border-style: solid;
    position: relative;
    width: 80%;
    border-color: #2b2a29 transparent;
    border-width: 60px 28px 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    color: white;
}

.Div-underhome h3 {
    margin: 0 auto;
    margin-top: -45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Div-underhome h3:hover {
    color: crimson;
    transition: 300ms ease-in-out;
}

.Home-header {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.947), #e1ad2d, #e1ad2d);
    padding: 0 20px;
}

.logo-text {
    color: white;
    padding-top: 30px 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}

.Img-cart-search {
    background: url("./Image/headerimage.png") no-repeat;
    background-position: center center;
    height: 550px;
    width: 100%;
}

.search-button {
    display: flex;
}

.search-button input {
    height: 40px;
    border: none;
    outline: none;
    width: 60vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 15px;

}

.search-button i {
    background-color: #f26522;
    color: white;
    padding: 10px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    height: 20px;
}

.flex-header {
    display: flex;
    justify-content: center;
    gap: 5%;

}

.cart-account-home h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    word-spacing: 5px;
    margin-top: 10px;
}
.cart-account-home {
    display: flex;
    gap: 15px;
}
.position-icon {
    position: relative;
    cursor: pointer;
}

.position-icon .number-icon-cart {
    position: absolute;
    top: -15px;
    right: -10px;
    background-color: #f26522;
    padding: 0 5px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mySwiperhome {
    margin-top: 90px;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vw;
    height: 90%;
    font-weight: 900;
    position: relative;
}

.mySwiperhome button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    border: none;
    width: 200px;
    font-size: 22px;
    height: 40px;
    background-color: rgb(23, 22, 22);
    color: white;
    font-weight: 900;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.mySwiperhome button:hover {
    background-color: white;
    color: black;
    transition: 100ms;
}

.swiper-button-prev,
.swiper-button-next {
    background-color: white;
    padding: 10px;
    margin: 0 10px;
    border-radius: 50%;
    color: black !important;
}

.display-none-cart {
    display: none;
}

/*? End of header */



/* ! body article */

.bodyhomearticle{
    margin-top: -40px;
    padding: 0 20px;
}
.swiper1div{
    width: 90%;
    display: block;
    margin: 0 auto;
}
.mySwiperBody .swiper-slide{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 390px;
}
.mySwiperBody{
    height: 500px;
}
.image-body{
    width: 100%;
    height: 222px;
}
.title-text-body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 900;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin: 20px auto;
}
.price-text-body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.price-span{
    font-weight: 900;
    color: #f36b2b;
}
.image-body{
    object-fit: contain;
    width: 80%;
    display: block;
    margin: 0 auto;
}
.mySwiperfashion-text h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 50px;
}
.bottom-text{
    display: flex;
    padding: 10px 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 900;
}
.buynow-text{
    cursor: pointer;
    color: #f36b2b;
}
.seemore-text{
    display: block;
    cursor: pointer;
    margin-left: auto;
}
.mySwiperBody .swiper-button-next, .mySwiperBody .swiper-button-prev{
    background-color: #30302e;
    border-radius: 0;
    color: white;
    margin-top: 180px;
}
.mySwiperBody .swiper-button-next::after, .mySwiperBody .swiper-button-prev::after{
    color: white;
}
.mySwiperBody .swiper-button-next:hover, .mySwiperBody .swiper-button-prev:hover{
    background-color: #f26522;
    transition: 300ms;
    transition: ease-in-out;
}
/* ? end of body article */

/* ! footer */
.cartdancing {
    display: block;
    margin: 0 auto;
    padding-bottom: 40px;
}
.footer-home {
    background-color: #252525;
    padding: 30px 5% 10px 5%;
}
.input-email-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-email-div input {
    background-color: #252525;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 70%;
    font-size: 20px;
    color: white;
    border-bottom: white 2px solid;
}
.input-email-div button{
    background-color: #252525;
    color: #f26522;
    border: none;
    cursor: pointer;
}
.under-subscribe-footer{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.under-subscribe-footer p:hover {
    color: #f26522;
    transition: 300ms;
}
.helpline{
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px 0;
}
.copy-name{
    text-align: center;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
/* ? end of footer */

/* ! search page ~ */
.colori i{
    color: black;
}
.search-page-flows{
    padding: 15px 20px 30px 20px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search-page-flows .fa-beat{
    cursor: pointer;
}
.searchPageinput input{
    border-bottom: rgba(0, 0, 0, 0.368) solid 2px;
}
.pushfooterdown{
    padding-bottom: 100px;
}
.Search-div-carrier{
    display: flex;
    width: 100%;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 0;
    cursor: pointer;
}
.img-searchside{
    width: 40%;
    height: 130px;
    object-fit: contain;
}
.name-price{
    width: 60%;
    position: relative;
}
.name-price h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
.name-price p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.search-items-carrier{
    margin-top: 40px;
    padding: 0 10px;
}
.price-search{
    position: absolute;
    bottom: 0px;
}
.addtocartsearch{
    position: absolute;
    bottom: 0px; 
    left: 60%;
    transform: translate(0%);
    color: #f26522;
    cursor: pointer;
    font-weight: 900;
}

/* ? end of search page !*/

/* ! details data page*/
.details-header{
    background-color: #e1ad2d;
    padding: 1px 5%;
}
.details-header h3{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.aside-img-clickable{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aside-img-clickable img{
    border: 1px solid black;
    width: 35px;
    padding: 5px;
        cursor: pointer;
}
.padding-main-details{
    padding: 20px 2% 10px 2%;
}
.div-img-carrier-details-page{
    display: flex;
    gap: 10px;
    
}
.flex-tagsimg{
    display: flex;
    flex-direction: column;
    height: 450px;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.flex-tagsimg img{
    width: 100%;
    height: 100%;
    padding: 30px 0;
    object-fit: contain;
    scroll-behavior: smooth;
}
.namedata-details {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pricedata-details {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

.descdata-details {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.buytocart, .addtocart {
    width: 80%;
    padding: 5px 0;
    border: none;
    display: block;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size:20px;
}
.buytocart {
    background-color: #FFA41C;
}
.addtocart {
    background-color: #ffd814;
}
.btns-cartside {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price-addtocart-buynow{
    padding: 0 10px 20px 10px;
    border: 0.5px solid rgba(0, 0, 0, 0.479);
}
.ad1{
    width: 100%;
}
.ad-div1{
    position: relative;
    margin-top: 10%;
}
.ad-div1 p{
    position: absolute;
    top: -13px;
    color: rgba(255, 255, 255, 0.563);
    background-color: #2525258c;
}
.details-header{
    display: flex;
    position: relative;
}
.detail-arrange-header{
    position: absolute;
    left: 90%;
}
.shopxdetailsheader{
    font-size: 25px;
}
.beat-detailsbackicon{
    margin-left: 20px;
}
.buytocart, .addtocart{
    cursor: pointer;
    color: white;
}
/* ? end details data page*/

/* ! Cart Page */
    .flex-cart-page{
        display: flex;
        padding: 20px 5%;
        border-bottom: 1px solid black;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        height: 130px;
    }
    .flex-cart-page  img{
        height: 120px;
        width: 130px;
        object-fit: contain;
    }
    .namecart-page{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 40vmin;
    }
    .flex-remove-count{
        display: flex;
        gap: 20px;
    }
    .count-cart{
        display: flex;
        gap: 1px;
    }
    .quantity-sub h3, .quantity-add h3, .count h3{
        background-color: #e1ad2d;
        padding: 10px;
        color: white;
    }
    .count h3 { 
        background-color: rgba(0, 0, 255, 0.509);
        color: white;
    }
    .remove-cart{
        position: relative;
        top: 40px;
        text-decoration: underline;
    }
    .flex-remove-count{
        margin-top: -20px;
        margin-left: 10px;
    }
    .quantity-sub, .quantity-add , .count {
        margin-top: -20px;
    }
    .price-cart{
        position: relative;
        top: 30px;
        color: #f26522;
        left: -10px;
    }
    .header-cart{
        background-color: #e1ad2d;
    }
    .Cart-carticon{
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #f26522;
    }
    .proceed-btn{
        color: white;
        background-color: #f26522;
        border: none;
        padding: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-top-right-radius: 7px;
        border-top-left-radius: 7px;
        border-bottom-right-radius: 7px;
        border-bottom-left-radius: 7px;
        width: 200px;
        display: block;
        margin: 0 auto;
    }
/* ? End of Cart page */
@media screen and (max-width: 767px) {
    /* ! Header media query */
    .Div-underhome {
        display: none;
    }
    .Home-header{
        padding-top: 2%;
    }
    .flex-header {
        display: block;
    }
    .search-button input {
        width: 80vw;
    }
    .cart-account-home{
    display: none;
    }
    .display-none-cart{
        display: flex;
        justify-content: right;
        margin-top: -25px;
    }
        .mySwiperhome {
                font-size: 7vw;
        }
    /* ! end of header media query */

    /* ! body article  */
    .mySwiperfashion-text h1 {
            font-size: 10vw;
    }
    /* ? end of body artcle */

    /* ! end details data page*/
    .ad-div1 {
        display: none;
    }
    /* ? end details data page*/
}
@media screen and (max-width: 555px) {
    /* ! footer */
    .under-subscribe-footer {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}
@media screen and (min-width: 590px) {
    /* ? end of footer */
    
        /* ! search page ~ */
        .img-searchside {
            width: 220px;
        }
        .Search-div-carrier {
            gap: 20px;
        }
        /* ? end of search page !*/
        
}
@media screen and (min-width: 768px) {
    /* ! details data page*/
    .padding-main-details{
        display: flex;
        gap: 10px;
    }
    .div-img-carrier-details-page{
        width: 40%;
    }
    .namedescprice-details{
        width: 30%;
    }
    .price-addtocart-buynow{
        width: 30%;
    }
    .price-addtocart-buynow {
    border: 0px ;
}
    /* ? end details data page*/
}
@media screen and (min-width: 600px) {
    /* ! Cart Page */
    .flex-cart-page {
        justify-content: center;
        align-items: center;
    }
    
     /* ? End of Cart page */
}